<h1></h1>
<div class="container">
  <div class="row" style="margin:250px 5">
<form action="/admin/login" method="post">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Usuario" name="usuario">
  </div>
  <h1></h1>
  <div class="form-group">
    <input type="password" class="form-control" placeholder="Password" name="password">
  </div>
  <h1></h1>
    <button type="submit" class="btn btn-primary">Ingresar</button>
</form>
    {{#if error}}
    <p>Usuario o Contraseña incorrecto</p>
    {{/if}}
  </div>
</div>